doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css")
    script(src="http://code.jquery.com/jquery-1.8.3.min.js")
    script(src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js")
    <meta name="viewport" content="width=device-width, initial-scale=1">
  body(class="ui-mobile-viewport ui-overlay-c")
    div(data-role='page')
    div(data-role='header',class='ui-header ui-bar-a' data-position="fixed")
      h1
        p #{title}
    div(data-role='content',class='ui-content')
      block content
    div(data-role='footer',class='ui-header ui-bar-b')
      h4= "Page Footer"
